* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible;
  background-color: #101010;
  color: #F7CAC9;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

canvas{
  display:block;
  vertical-align:bottom;
}

* {
	font-family: "Merriweather Sans", sans-serif;
	font-weight: normal;
}

#container {
	position: absolute;
	font-size: 9pt;
	padding: 0 20px 0 20px;
	top: 35%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
}

#header {
	-webkit-box-shadow: 1px 1px 1px 1px #000000;
	-moz-box-shadow: 1px 1px 1px 1px #000000;
	box-shadow: 1px 1px 1px 1px #000000;
	background-color: #181818;
	margin: 10px;
	padding: 8px;
	border: 5px solid #181818;
}


#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;

}

.linksbox {
	-webkit-box-shadow: 1px 1px 1px 1px #000000;
	-moz-box-shadow: 1px 1px 1px 1px #000000;
	box-shadow: 1px 1px 1px 1px #000000;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	margin: 10px;
	padding: 8px 8px 8px 8px;
	background-color: #181818;
	border: 5px solid #181818;
}

.linksbox h3 {
	padding-bottom: 5px;
}

.linksbox a{
	display: block;
	text-decoration: none;
	font-weight: normal;
}

.linksbox a.cyan:hover {
	color: #83a598;
}

.linksbox a.red:hover {
	color: #d3869b;
}

h3 {
	font-size: 9pt;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.cyan {
	color: #dc9656;
	padding: 0;
}

.blue {
	color: #f7ca88;
	padding: 0;
}

.green {
	font-weight: normal;
	padding: 0;
	color: #a1b56c;
}

.pink {
	padding: 0;
	color: #a16946;
}

.red {
	padding: 0;
	color: #ab4642;
}

.orange {
	padding: 0;
	color: #383838;
}

.yellow {
	padding: 0;
	color: #7cafc2;
}

form {
	display: inline;
}

input 	{
	display: inline;
	background: none;
	display: inline;
	border: none;
	color: #d8d8d8;
	width: 70%;
	font-size: 9pt;
}