* {
	font-family: "Merriweather Sans", sans-serif;
	text-transform: lowercase;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #101010;
  color: #d8d8d8;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 100;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#container {
	position: absolute;
	font-size: 9pt;
	padding: 5px;
	top: 33%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
}

#header {
	background-color: rgba(100,100,100,0.1);
	margin: 0 0 32px 0;
	padding: 5px 5px 5px 10px;
	border: 5px solid rgba(0,0,0,0);
	line-height: 2em;
}


#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;

}

.linksbox {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	background-color: rgba(100,100,100,0.1);
	margin: 0px;
	padding: 10px 10px 10px 32px;
	border: 5px solid rgba(0,0,0,0);
	line-height: 2em;
}

.linksbox a{
	display: block;
	text-decoration: none;
}

h3 {
	font-size: 9pt;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.cyan {
	color: #dc9656;
	padding: 0;
}

.blue {
	color: #d8d8d8;
	padding: 0;
}

.green {
	font-weight: normal;
	padding: 0;
	color: #a1b56c;
}

.pink {
	padding: 0;
	color: #a16946;
}

.red {
	padding: 0;
	color: #ab4642;
}

.orange {
	padding: 0;
	color: #383838;
}

.yellow {
	padding: 0;
	color: #7cafc2;
}

form {
	display: inline;
}

input 	{
	display: inline;
	background: none;
	display: inline;
	border: none;
	color: #d8d8d8;
	width: 92%;
	font-size: 9pt;
}