@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;

}


html, body{
	margin: 0;
	padding: 0;
	background-color: #EBEBEB;
	color: #4d5666;
	font-size: 10px;
}

* {
	font-family: "Noto Sans";
	font-weight: normal;
}

#container {
	position: absolute;
	padding: 0 20px 0 20px;
	top: 35%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
}

#header {
	-webkit-box-shadow: 1px 1px 1px 1px #C1C1C1;
	-moz-box-shadow: 1px 1px 1px 1px #C1C1C1;
	box-shadow: 1px 1px 1px 1px #C1C1C1;
	background-color: #f5f5f5;
	margin: 4px;
	padding: 8px;
	border: 5px solid #f5f5f5;
}


#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
}

.linksbox {
	-webkit-box-shadow: 1px 1px 1px 1px #C1C1C1;
	-moz-box-shadow: 1px 1px 1px 1px #C1C1C1;
	box-shadow: 1px 1px 1px 1px #C1C1C1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	margin: 4px;
	padding: 8px 8px 8px 8px;
	background-color: #f5f5f5;
	border: 5px solid #f5f5f5;
}

.linksbox h3 {
	padding-bottom: 5px;
}

.linksbox a{
	display: block;
	text-decoration: none;
	font-weight: normal;
}

.linksbox a.cyan:hover {
	color: #C2C2C2;
}

.linksbox a.red:hover {
	color: #C2C2C2;
}

h3 {
	font-size: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.cyan {
	color: #f0a000;
	padding: 0;
}

.blue {
	color: #5299bf;
	padding: 0;
}

.green {
	font-weight: normal;
	padding: 0;
	color: #9989cc;
}

.pink {
	padding: 0;
	color: #ff6ac1;
}

.red {
	padding: 0;
	color: #ff5c57;
}

form {
	display: inline;
}

input 	{
	display: inline;
	background: none;
	display: inline;
	border: none;
	color: #4d5666;
	width: 70%;
	font-size: 10px;
}
canvas	{
  position: absolute;
  width: 100%; height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;

    animation-name:     test;
    animation-duration: 1s;

}
